.hover-wrapper {
  position: relative;
  margin-top: 120px;
  max-height: 75vh;
  width: auto;
  z-index: 2;
}

.priyanka-img {
  width: 100%;
  object-fit: contain;
  border-radius: 1rem;
  z-index: 2;
  position: relative;
}

.hover-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none; /* allow hover to pass through */
}

.reveal {
  position: absolute;
  opacity: 0;
  transform: translateY(0px) scale(0.11);
  transition: all 0.9s ease-in-out;
  width: 360px;
  height: 40px;
  object-fit: contain;
}

/* 🎉 Reveal animation from behind */
.hover-wrapper:hover .img-1 {
  opacity: 1;
  transform: translate(-230px, 400px) rotate(-15deg) scale(1);
} 
/* book */
.hover-wrapper:hover .img-2 {
  opacity: 1;
  transform: translate(300px, 400px) rotate(10deg) scale(1);
}
/* bottle */
.hover-wrapper:hover .img-3 {
  opacity: 1;
  transform: translate(280px, 280px) rotate(20deg) scale(1);
}
/* paint */
.hover-wrapper:hover .img-4 {
  opacity: 1;
  transform: translate(-180px, 280px) rotate(-15deg) scale(1);
}
/* bug */
.hover-wrapper:hover .img-5 {
  opacity: 1;
  transform: translate(220px, 150px) rotate(10deg) scale(1);
} 
/* camara */
.hover-wrapper:hover .img-6 {
  opacity: 1;
  transform: translate(-160px, 150px) rotate(20deg) scale(1);
}
/* coffee */
.hover-wrapper:hover .img-7 {
  opacity: 1;
  transform: translate(340px, 180px) rotate(-15deg) scale(1);
}
/* duck */
.hover-wrapper:hover .img-8 {
  opacity: 1;
  transform: translate(-290px, 180px) rotate(10deg) scale(1);
}
/* headphone */
.hover-wrapper:hover .img-9 {
  opacity: 1;
  transform: translate(-400px, 140px) rotate(20deg) scale(1);
}
/* laptop */
.hover-wrapper:hover .img-13 {
  opacity: 1;
  transform: translate(-420px, 240px) rotate(-15deg) scale(1);
}
/* cacty */
.hover-wrapper:hover .img-11 {
  opacity: 1;
  transform: translate(490px, 140px) rotate(10deg) scale(1);
}
/* photos */
.hover-wrapper:hover .img-12 {
  opacity: 1;
  transform: translate(500px, 240px) rotate(20deg) scale(1);
}
/* sticky */
/* .hover-wrapper:hover .img-11 {
  opacity: 1;
  transform: translate(-40px, -140px) rotate(20deg) scale(1);
} */
/* phone */

