/* App.css */

#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.horizontal-scroll {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 100vh;
  scroll-behavior: smooth;
  cursor: default;
  user-select: none; 
  -webkit-user-drag: none; 
}

.horizontal-scroll:active {
  cursor: grabbing;
}

.horizontal-scroll img {
  pointer-events: none; 
  -webkit-user-drag: none;
  user-select: none;
}

.horizontal-scroll * {
  user-select: none;
}

@keyframes cometGlow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
